@import '_syntax-theme';

$background: var(--bg);
$background-light: var(--bg-lighter);
$border-color: black;
$box-shadow-color: #2e2c2c;
$font-color: var(--font-color);
$font-stack: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
$font-size: 1.1rem;
$max-width: 80rem;
$sidebar-left-padding: 15px;

@media (prefers-color-scheme: light) {
    :root {
        --a-color: #0074d9;
        --a-visited: #b10dc9;
        --active-underline: red;
        --bg: #c7e3cc;
        --bg-lighter: #f0f8f1;
        --font-color: black;
    }
}

@media (prefers-color-scheme: dark) {
    :root {
        --a-color: #e0e30d;
        --a-visited: #24cc80;
        --active-underline: red;
        --bg: #023a3a;
        --bg-lighter: #5b7a7a;
        --font-color: #eefdf5;
    }
}

* {
    box-sizing: border-box;
}

html {
    // prevent shifting to the left when scrollbar appears
    // source: https://stackoverflow.com/q/9341465
    // https://aykevl.nl/2014/09/fix-jumping-scrollbar
    margin-left: calc(100vw - 100%);
    margin-right: 0;

    &, body {
        height: 100%;
    }
}

body {
    background-color: $background;
    color: $font-color;
    display: flex;
    flex-direction: column;
    font-family: $font-stack;
    font-size: $font-size;
    margin: 0 auto;
    max-width: $max-width;
}

main {
    flex: 1 0 auto;
}

h1.title {
    text-align: center;
    text-decoration: underline;
}

a {
    color: var(--a-color);
    font-weight: 600;

    &:visited {
        color: var(--a-visited);
    }
}

details {
    & > summary::before {
        content: "+";
        font-family: monospace, monospace;
        font-weight: bold;
        padding-right: 5px;
    }

    &[open] > summary::before {
        content: "-";
    }
}

dl {
    dt {
        font-weight: bold;
    }

    dd {
        p {
            margin: 0.5rem 0;
        }
    }
}

pre {
    border-radius: 6px;
    padding: 0.5rem;
    overflow: auto;
}

footer {
    margin-top: auto;
}

.active {
    & > a, &-section {
        text-decoration: underline dashed;
    }

    & > a, &-root, &-in-section, &-section {
        font-style: italic;
        font-weight: 800;
    }

    &-in-section {
        font-weight: bold;
    }
}

.lil-guy {
    text-align: center;

    & > .before, & > .after {
        color: $background;
    }

    &:hover {
        font-weight: bolder;
        & > .before, & > .after {
            color: $font-color;
            font-weight: bold;
        }
    }
}

.mermaid-diagram {
    text-align: center;
}

.snippets {
    display: flex;
    padding: 2rem;

    &__content, &__navmenu, &__toc {
        background-color: $background-light;
        border: 2px solid $border-color;
        border-radius: 6px;
        box-shadow: 4px 3px $box-shadow-color;
        height: fit-content;
    }

    &__navmenu, &__toc {
        font-size: 1rem;
        margin-bottom: 1rem;
        margin-right: 1rem;
    }

    &__content {
        padding-left: 1rem;
        padding-right: 1rem;
        width: 80%;
    }

    &__navmenu {
        ul {
            font-size: 0.9rem;
            padding-left: 30px;
        }
    }

    &__sidebar {
        flex-direction: column;
        height: fit-content;
        position: sticky;
        top: 2rem;
        width: 20%;
    }

    &__toc {
        padding: 1rem 0 1rem 0rem;

        &__hr {
            margin-top: 1rem;
            width: 85%;
        }

        &__toggle {
            color: var(--a-color);
            display: flex;
            justify-content: center;
        
            &:hover {
                color: var(--a-visited);
                cursor: pointer;
                font-weight: bold;
            }

            &::before {
                content: "("
            }
            &::after {
                content: ")"
            }

            &::before, &::after {
                color: var(--font-color);
            }
        }
    }
}

.toc {
    margin-bottom: 0px;
    padding-left: $sidebar-left-padding;

    .section {
        font-weight: 600;
        list-style: none;

        &::before {
            font-family: monospace, monospace;
            font-weight: bold;
        }
    }

    .page {
        font-weight: normal;
        padding-left: 15px;
        text-transform: capitalize;

        &::before {
            font-family: monospace, monospace;
            font-weight: bold;
            content: "*"
        }
        &.active::before {
            content: ">";
        }
    }

    .site {
        font-weight: bold;
        text-transform: uppercase;
    }
}

@media only screen and (max-width: 1000px) {
    .snippets {
        flex-direction: column;
        padding: 0.5rem;

        &__content {
            width: 100%;
        }

        &__sidebar {
            margin-top: 1rem;
            order: 1;
            width: 100%;

            & > * {
                width: 100%;
            }
        }
    }
}