{#
  As of right now this ToC won't work for any pages at the top level of the
  content section. Should I a) rework it to display those pages or b) just
  hard code them somewhere because most top level pages would be something like
  about me, contact, etc.
#}

{% macro toc() %}
  {% set section = get_section(path="_index.md") %}
  {% set subsections = [] %}

  {% if not current_path %}
    {% set current_path = "/" %}
  {% endif %}

  <details class="outer toc" open>
    <summary class="section site"><a class="{% if current_path == "/" %} active-root{% endif %}" href="/">{{ config.title }}</a></summary>

    {# We're doing all this to sort our TOC by section title :( #}
    {% for p in section.subsections %}
      {% set_global subsections = subsections | concat(with=get_section(path=p)) %}
    {% endfor %}
    {% for p in subsections | sort(attribute="title") %}
      {{ macros::toc_stub(p=p) }}
    {% endfor %}
  </details>
{% endmacro toc %}

{#
  Called initially from toc(), and then calls itself for each subsection
  to build up our tree navigation.
#}
{% macro toc_stub(p) %}
  {% set subsections = [] %}

  {# Guard for our 404 page #}
  {% if not current_path %}
    {% set current_path = "" %}
  {% endif %}

  {# Some dumb stuff for styling purposes #}
  {% if current_path == p.path %}
    {% set section_class = "active-section" %}
  {% elif current_path is starting_with(p.path) %}
    {% set section_class = "active-in-section" %}  
  {% else %}
    {% set section_class = "" %}
  {% endif %}

  <details class="toc"{% if p.path in current_path %} open{% endif %}>
  <summary class="section"> <a class="{{ section_class }}" href="{{ p.permalink }}">{{ p.title }}</a></summary>

    {# Recurse and see if we have any nested sections to list out #}
    {# We're doing all this to sort our TOC by section title :( (AGAIN) #}
    {% for z in p.subsections %}
      {% set_global subsections = subsections | concat(with=get_section(path=z)) %}
    {% endfor %}
    {% for z in subsections | sort(attribute="title") %}
      {{ macros::toc_stub(p=z) }}
    {% endfor %}

    {# List out any pages in the current section #}
    {% for page in p.pages | sort(attribute="title") %}
      <summary class="page{% if current_path == page.path %} active{% endif %}">
        <a href="{{page.permalink}}">{{page.slug}}</a>
      </summary>
    {% endfor %}
  </details>
{% endmacro toc_stub %}

{% macro sort_by_title(starting_section) %}
{% set subsections = [] %}
{% for p in startting_section.subsections %}
  {% set_global subsections = subsections | concat(with=get_section(path=p)) %}
{% endfor %}
{% endmacro sort_by_title %}

{# ########################################################################## #}

{% macro breadcrumb() %}
<p><a href="/">lists.quest</a>
  {% set paths = [] %}
  {% if section.components %}
    {% set_global paths = section.components %}
  {% elif page.components %}
    {% set_global paths = page.components %}
  {% endif %}

  {% set p = "/" %}
  {% for component in paths %}
    <span> / <a href="{{ p ~ component ~ '/' }}">{{ component }}</a></span>
    {% set_global p = p ~ component ~ '/' %}
  {% endfor %}
</p>
{% endmacro breadcrumb %}

{# ########################################################################## #}

{% macro updated() %}
{% if page.extra.updated %}
  {% set last_update = page.extra.updated %}
{% elif section.extra.updated %}
  {% set last_update = section.extra.updated %}
{% endif %}
{% if last_update %}
  <p class="update">Last Updated: {{ last_update }}</p>
{% endif %}
{% endmacro updated %}