{% import "macros/macros.html" as macros %}
{% import "macros/navmenu.html" as navmenu %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{% block title %}{{ config.title }}{% endblock title %}</title>
  <link rel="stylesheet" href="{{ get_url(path="site.css") }}">
  <link rel="icon" href="{{ get_url(path="favicon.png") }}">
  <script src="/script.js" defer></script>
</head>
<body>
  <div class="snippets">
    <aside class="snippets__sidebar">
      <div class="snippets__toc">
        {{ macros::toc() }}
        <hr class="snippets__toc__hr" />
        <span class="snippets__toc__toggle" id="tocToggle"></span>
      </div>
      {{ navmenu::navmenu() }}
    </aside>
    <div class="snippets__content">
      <div class="container">
      <h1 class="title">
        {% if page.title %}
          {{ page.title }}
        {% elif section.title %}
          {{ section.title }}
        {% endif %}
      </h1>
        {% block content %}{% endblock %}
      </div>
    </div>
  </div>
  <footer>
    <p class="lil-guy">
      <span class="before">༼ ºل͟º༼ ºل͟º</span>
      (∩ᄑ_ᄑ)
      <span class="after">ºل͟º ༽ºل͟º ༽</span>
    </p>
  </footer>
</body>
</html>